{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %}


{% block content %}
<head>
    <link href="{% static 'css/account.css' %}" rel="stylesheet" />
  </head>
<br> <br> <br> <br><br>
  <div class="container1">
    <h2>Change Password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  </div>

  <br> <br> <br>
  <br> <br> <br>
{% block footer %}
<br> <br> <br>
{% endblock footer %}
{% endblock content %}
