[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-extensions = "*"
werkzeug = "*"
crispy-bootstrap5 = "*"
django-paypal = "*"
pillow = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.12"
