asgiref
attrs
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
cssbeautifier
Django
django-allauth
django-crispy-forms
django-extensions
django-paypal
django-widget-tweaks
djangorestframework
djlint
EditorConfig
h11
html-tag-names
html-void-elements
idna
jsbeautifier
json5
outcome
pathspec
psycopg2-binary
PySocks
python-dotenv
pytz
PyYAML
regex
requests
selenium
six
sniffio
sortedcontainers
sqlparse
tqdm
trio
trio-websocket
typing_extensions
urllib3
whitenoise
wsproto
