{% extends 'base.html' %} {% load static %} {% block content %}

<title>Home</title>

<br />

<!-- Our services section and expertise section -->
<section
  class="bsb-cta-1 px-2 bsb-overlay"
  style="
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url('{% static "images/nurse.jpg" %}');
    background-size: cover;
    background-position: center;
  "
>

  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="fs-3 fw-bold text-uppercase" style="color: #F9D342; mb-3">
          Our Services & Expertise
        </h2>
        <h1 class="display-4 text-white mb-4">
          Pass your nursing school entrance exams the first time.
          <span style="color: #f9d342">Guaranteed.</span> We help Students pass
          their TEAS, HESI Tests, Exams and Assignments.
        </h1>
        <a href="{% url  'app1:order' %}" class="btn btn-primary btn-lg mt-3">
          <i class="bi bi-chevron-right"></i> Order Now
        </a>
      </div>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section id="about_us" class="py-5 bg-light">
  <div class="container pt-5">
    <div class="row align-items-center">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle animate-slideInLeft shadow-lg"
            loading="lazy"
            src="{% static 'images/about-us.jpg' %}"
            alt="About Us"
            style="border: 5px solid #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);"
          />
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="p-5 text-dark">
          <h2 class="display-4 text-primary fw-bold">Who Are We?</h2>
          <p class="lead text-secondary mb-4">
            We are a team of experienced nursing professionals dedicated to
            helping you navigate the challenging journey of nursing school.
          </p>
          <p class="text-body">
            Our mission is to ensure that every nursing student passes their
            entrance exams on the first attempt. We specialize in preparing
            students for their TEAS and HESI tests, exams, and assignments. Our
            approach is tailored to each student’s unique learning style and
            needs, providing personalized strategies and techniques that empower
            them to excel
          </p>
          <button class="btn btn-primary btn-lg mt-4">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- steps -->
<section class="bsb-timeline-2 py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 col-xl-6">
        <h2 class="h1 mb-3 text-primary">Multi-level essay writer selection process</h2>
        <p class="lead fs-4 text-secondary mb-5">
          Candidate undergoes a thorough selection procedure to join our expert
          team.
        </p>
        <ul class="timeline">
          <li class="timeline-item">
            <span class="timeline-icon bg-primary">
              <i class="bi-check-lg text-white"></i>
            </span>
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0 shadow-sm">
                  <div class="card-body p-0">
                    <h2 class="card-title mb-3 text-primary">Planning</h2>
                    <p class="card-text m-0">
                      First, we expect our future author to have a University
                      degree and at least 2 years of expertise in custom
                      writing.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-item">
            <span class="timeline-icon bg-info">
              <i class="bi-info-lg text-white"></i>
            </span>
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0 shadow-sm">
                  <div class="card-body p-0">
                    <h2 class="card-title mb-3 text-info">Launch</h2>
                    <p class="card-text m-0">
                      The next stage is an English language test and subject
                      proficiency assessment.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="timeline-item">
            <span class="timeline-icon bg-success">
              <i class="bi-question-lg text-white"></i>
            </span>
            <div class="timeline-body">
              <div class="timeline-content">
                <div class="card border-0 shadow-sm">
                  <div class="card-body p-0">
                    <h2 class="card-title mb-3 text-success">Finalizing</h2>
                    <p class="card-text m-0">
                      A one-on-one meeting allows us to find flexible and
                      outgoing authors with great time-management qualities and
                      a passion for writing.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- Pricing Plan -->
<section
  id="pricing"
  class="pricing py-5"
  style="background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)"
>
  <div class="container pt-5">
    <!-- Section Heading -->
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-uppercase">Flexible Pricing Plans</h2>
        <p class="lead">
          Choose a plan that fits your needs. Enjoy flexibility, savings, and
          access to premium services.
        </p>
        <hr class="my-4" />
      </div>
    </div>
    <!-- Pricing Options -->
    <div class="row">
      <!-- Single Month Access -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              Single Month Access
            </h5>
            <h6 class="card-price text-center">
              $68<span class="period">USD</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-times"></i></span>No
                Discount
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Maximum
                Flexibility
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>One-Time
                Payment
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                >Non-Recurring
              </li>
            </ul>
            <div class="d-grid">
              <a
                href="https://www.paypal.com/ncp/payment/U7KGB23TRK3UU"
                class="btn btn-primary text-uppercase"
                >Purchase Single Month Access</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Quarterly Access -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              Quarterly Access
            </h5>
            <h6 class="card-price text-center">
              $79<span class="period">USD</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Most Popular</strong>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Instant
                Savings of 33%
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>One-Time
                Payment
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                >Non-Recurring
              </li>
            </ul>
            <div class="d-grid">
              <a
                href="https://www.paypal.com/ncp/payment/NQ99LYBNXL5NN"
                class="btn btn-primary text-uppercase"
                >Purchase Quarterly Access</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Semi-Annual Access -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              Semi-Annual Access
            </h5>
            <h6 class="card-price text-center">
              $189<span class="period">USD</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Best Value</strong>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Instant
                Savings of 50%
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>One-Time
                Payment
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                >Non-Recurring
              </li>
            </ul>
            <div class="d-grid">
              <a
                href="https://www.paypal.com/ncp/payment/6TDM75VGHU56C"
                class="btn btn-primary text-uppercase"
                >Purchase Semi-Annual Access</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Question Accordion -->
<section id="questions" class="p-5">
  <div class="container">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
      <!-- Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-one"
          >
            Will the assigned essay writer follow the guildline specified in the
            order?
          </button>
        </h2>
        <div
          id="question-one"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Absolutely! Our essay service strives for your maximum satisfaction.
            That's why our professional paper writers carefully study your
            instructions before beginning to work on your assignment. Make sure
            to submit detailed guidelines for your essay helper when placing an
            order. Our adept writers will craft an impactful piece with your
            requirements in mind. On top of that, you can discuss additional
            instructions with your expert via our one-to-one chat. Stay on the
            same page with your academic pro and get the most accurate results
            for your "write my essays for me" request.
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-two"
          >
            Can you write my essay asap?
          </button>
        </h2>
        <div
          id="question-two"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            When you ask us, “please, write my paper for me,” you set the time
            for your order completion yourself. The shortest delivery you can
            choose is 6 hours. But, of course, your essay writer will do their
            best to complete your order even sooner. If you need your essay
            ASAP, remember that the due date is influenced by multiple factors,
            including the paper’s volume and complexity. Therefore, we advise
            you to chat with our support reps and ask how much time it’ll take
            to complete your task. Lastly, if you’re not in a hurry, you can get
            a generous discount on our paper writing services. The more time you
            allocate for order completion, the less you pay for paper.
          </div>
        </div>
      </div>
      <!-- Item 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-three"
          >
            How can i be sure that your essay service delivers original papers?
          </button>
        </h2>
        <div
          id="question-three"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            When you want to pay someone to write my essay for the first time,
            getting an unoriginal piece is your key concern. Our essay writing
            website does not tolerate copying someone else’s ideas. We craft all
            papers from scratch and carefully check them for uniqueness before
            sending them to you. But that’s not all. We also offer a free
            originality report with every write essay for me order. You can
            request your detailed report to ensure that your paper is 100%
            unique.
          </div>
        </div>
      </div>
      <!-- Item 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-four"
          >
            Does my information remain confidential at your essay service?
          </button>
        </h2>
        <div
          id="question-four"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Have no doubt! There are three core reasons why learners love our
            paper writer service. We deliver top-class essay writing and help
            with other types of papers. We take care of our customers around the
            clock, thanks to our outstanding 24/7 support team. When our
            customers make their write my papers orders, they know their
            information remains 100% secure. The privacy of our clients is one
            of our top priorities. We do everything possible to maintain the
            highest level of confidentiality, for instance, using encryption and
            secure payment gateways. So, when you hire a professional essay
            writer on our website, rest assured that your data will remain safe.
          </div>
        </div>
      </div>
      <!-- Item 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-five"
          >
            Do you help me find a job?
          </button>
        </h2>
        <div
          id="question-five"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            We encourage you to regularly check our website for updates on job
            openings, subscribe to our newsletter, and engage with our community
            forums. By utilizing our platform, you can gain a competitive edge
            in your job search and be better positioned to seize available
            opportunities.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
