<!-- my_discounts.html -->

{% extends 'base.html' %}
{% block content %}

<br><br><br>
<div class="container mt-5">
    <h2>My Discounts</h2>
    <div class="card mb-4">
        <div class="card-header">
            Active Discounts
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Discount Amount</th>
                        <th>Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for discount in discounts %}
                    <tr>
                        <td>{{ discount.code }}</td>
                        <td>{{ discount.description }}</td>
                        <td>{{ discount.amount }}%</td>
                        <td>{{ discount.expiry_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
